.mt-20 {
    margin-top: 20px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-5 {
    margin-top: 10px;
}

.btn-vs-close:hover {
    color: rgba(255, 255, 255, 0.37);
    background: rgba(255, 255, 255, 0.21);
}
.btn-vs-close {
    color: rgba(255, 255, 255, 0.17);
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    align-items: center;
    box-sizing: border-box;
    position: absolute;
    margin-top: 4px;
    margin-left: 5px;
    z-index: 1000;
    cursor: pointer;
}