:root {
    --menu-height: 30px;
}
.hideLinks {
    --menu-height: 0px;
}
.imgdot.active {
    background: lightblue;
}
[data-vs-code-open="1"] {
    overflow: hidden;
}
.finish {
    background: rgba(144, 238, 144, 0.51);
}
.imgdot-wrap {
    display: block;
    /*margin-top: -50px;*/
}
#main-content-wrap {
}
[open-vs="1"] #main-content-wrap {
    z-index: 1000000000000;
}
.mycode, .vscode-wrapper {
    background: #333333;
}
.frame-loading .code-menu:after {
    content: ' ';
    position: absolute;
    opacity: .7;
    background: black;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.imgdot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: lightgrey;
}
.build_arr {
    padding-left: 20px;
}
.custom-full-modal {
    position: fixed;
    z-index: 100000!important;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.custom-hidden {
    opacity: 0;
    z-index: -1!important;
    visibility: hidden;
}

.code-menu {
    /*max-height: var(--menu-height);*/
    max-height: var(--menu-height);
    overflow: auto;
}
.ide-wrapper {
    z-index: 10000;
    opacity: .2!important;
}
.mycode iframe, .mycode .ide-wrapper {
    width: 100%;
    border: none;
    /*1px solid grey;*/
    height: calc(100% - var(--menu-height));
}

.err {
    background: rgba(255, 0, 0, 0.12);
}