.flex-row-reverse img {
    display: none;
}

.chat-time {
    display: none;
}
.chat-box-right {
    background: transparent!important;
}

.chat-box-right::after {
    background: linear-gradient(135deg, #22C55E10, #22C55E40, #22C55E10);
}
.chat-box-right::before {
    background-image: url("./bcg/0.png");
    filter: grayscale(50%);
    opacity: .07;
}
.chat-box-right::before,
.chat-box-right::after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /*z-index: 100;*/
}
.chat-box-right .chat-body .chat-detail .chat-box.reverse .user-chat p {
    background-color: var(--c1);
    color: white;
    border-radius: 16px 16px 0 16px;
    text-align: end
}

.chat-box-right .simplebar-content-wrapper {
    display: grid;
    align-items: end;
    padding-bottom: 70px;
    scroll-behavior: smooth;
}
.actionChatBtn {
    margin-bottom: 4px;
}

.chat-footer > div {
    background-color: var(--bs-secondary-bg);

}

.chat-body, .chat-footer > div {
    max-width: 800px;
    margin: 0 auto;
}


.chat-box-right .chat-footer {
    border-radius: 8px;
    padding: 16px;
    position: absolute;
    width: 100%;
    /*left: calc(50%);*/
    bottom: 10px;
}