
:root, [data-bs-theme=light] {
    --bs-topbar-height: 120px;
    --bs-topbar-bg: #fff;
    --bs-topbar-b-border-color: #dee2e6;
    --bs-topbar-nav-icon-bg: #96a0b5;
    --bs-topbar-nav-icon-color: #96a0b5;
    --bs-startbar-width: 270px;
    --bs-startbar-collapsed-width: 70px;
    --bs-startbar-bg: #fff;
    --bs-startbar-e-border-color: #dee2e6;
    --bs-menu-icon-color: #96a0b5;
    --bs-menu-link-color: #061237;
    --bs-nav-link-disc-color: #8997bd;
    --bs-menu-label-color: #717fa7;
    --bs-label-color: #656d9a;
    --bs-text-muted: var(--bs-secondary-color);
    --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    --bs-theme-white-color: #ffffff;
    --bs-border-secondary: #95a0c5;
    --bs-card-shadow: 0 3px 16px rgba(142, 134, 171, .05);
    --bs-border-radius: .4rem;
    --light-hover: #22c55e10;

            /*--bs-card-shadow: 0 5px 16px rgba(142, 134, 171, .05);*/
    /*--bs-card-shadow: 0 3px 8px 0 rgba(142, 134, 171,.05);;*/
    /*--bs-btn-bg: red;*/
    /*--bs-primary: red;*/
    /*--bs-primary-rgb: red;*/
    /*--bs-body-bcg: red;*/
    /*--bs-body-bg: WHITE;*/

    --c10: #22c55e30;
    --c2: #95a0c580;
    --b0: #d9e1ec80;
    --c1: #22c55e;
    --c404: #ef4d56;

}

html[data-bs-theme=dark] {
    --bs-light: #303231;
    --bs-light-rgb: 48, 50, 49;
    --bs-dark: #f4f6f9;
    --bs-dark-rgb: 244, 246, 249;
    --bs-label-color: #9797a5;
    --bs-theme-white-color: #2e2e31;
    --bs-body-color: #d9e1ec;
    --bs-text-muted: #aab0b9;
    --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    --bs-topbar-bg: #202221;
    --bs-topbar-b-border-color: #d9e1ec;
    --bs-topbar-nav-icon-bg: #2c3640;
    --bs-topbar-nav-icon-color: #a1a8bd;
    --bs-secondary: #c3c3c3;
    --bs-secondary-rgb: 195, 195, 195;
    --bs-border-secondary: #333645;
    --bs-startbar-bg: #202221;
    --bs-startbar-e-border-color: #d9e1ec;
    --bs-menu-icon-color: #4d6089;
    --bs-menu-link-color: #a1a8bd;
    --bs-nav-link-disc-color: #8997bd;
    --bs-menu-label-color: #717fa7;
    --b0: rgba(69, 72, 77, 0.5);

}

html[data-startbar=dark] {
    --bs-startbar-bg: #202221;
    --bs-startbar-e-border-color: #d9e1ec;
    --bs-menu-icon-color: #4d6089;
    --bs-menu-link-color: #a1a8bd;
    --bs-nav-link-disc-color: #8997bd;
    --bs-menu-label-color: #717fa7;
    --bs-dark: #f4f6f9;
    --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075)
}

.btn-primary {
    --bs-btn-color: #ffffff;
    --bs-btn-bg: #22c55e;
    --bs-btn-border-color: #22c55e;
    --bs-btn-hover-color: #ffffff;
    --bs-btn-hover-bg: #20bb59;
    --bs-btn-hover-border-color: #1fb155;
    --bs-btn-focus-shadow-rgb: 67,206,118;
    --bs-btn-active-color: #ffffff;
    --bs-btn-active-bg: #1fb155;
    --bs-btn-active-border-color: #1da750;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #ffffff;
    --bs-btn-disabled-bg: #22c55e;
    --bs-btn-disabled-border-color: #22c55e
}

